albumentations
comet_ml
coremltools
Flask
GitPython
ipython
matplotlib
mss
nnc
numpy
onnx
onnxruntime
onnxsim
#opencv_python==4.8.0.76
opencv-python-headless
openvino
#paddle==1.0.2
pafy
pandas
Pillow
psutil
pycocotools
PyYAML
Requests
scipy
seaborn
setuptools
streamlit
streamlit_extras
streamlit_option_menu
tensorflow
tensorflowjs
tensorrt
tflite_runtime
tflite_support
thop
torch
torchvision
tqdm
tritonclient
ultralytics
x2paddle
